/**********************************/
html {
  scroll-behavior: smooth;
}
/************************************************************/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: white;
  color: black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/*****************************************************/
a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: black;
  font-weight: 500;
}
.section {
  padding: 2rem 0 4rem;
}
.section-title {
  font-size: 1.5rem;
}
.section-subtitle {
  font-size: 0.813rem;
  /* margin-bottom: 3rem; */
  color: rgb(92, 91, 91);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/**********************NAVIGATION SECTION******************************/
nav {
  background-color: thistle;
}

.nav-close-btn {
  font-size: 1.25rem;
  margin-right: 1.3rem;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: thistle;
  border-radius: 0.4rem;
  opacity: 0.6;
  color: black;
}

.nav-close-btn:hover {
  color: rgb(46, 45, 45);
}

@media screen and (min-width: 968px) {
  .nav-close-btn {
    display: none;
  }
}
/*************INTRODUCTION  SECTION***************/
.home {
  padding: 2rem 0 4rem;
}

.home-Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  padding-top: 3.5rem;
  align-items: center;
}

.home-image {
  height: 20%;
  width: auto;
  max-width: 35%;
}

.home-image img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.home-content h1 {
  font-size: 2rem;
}

.home-content h3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
}

.home-icons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-size: 1.25rem;
  margin-top: -15px;
}

.home-icons a {
  color: rgb(46, 45, 45);
}

.home-icons a:hover {
  color: #86626e;
}

.home-icons a:focus {
  color: rgb(173, 122, 173);
}

.home-scrolldown button {
  background-color: transparent;
  opacity: 0.9;
  border: none;
}
.home-scrolldown button:hover {
  transform: translateY(0.5rem);
}

.home-scroll-btn {
  transition: all 0.3s;
  text-decoration: none !important;
}

.home-scroll-arrow {
  margin-top: 0.25rem;
  color: rgb(24, 22, 22);
  font-size: 1.25rem;
}

.home-scroll-btn:hover {
  color: #86626e;
}

.home-scroll-name {
  font-size: 0.813rem;
  color: black;
  font-weight: 300;
  margin-right: 0.25rem;
}

@media screen and (min-width: 968px) {
  .home-Container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home-image {
    height: 20%;
    width: auto;
    max-width: 35%;
  }

  .home-image img {
    height: 70%;
    width: 70%;
    border-radius: 100px;
  }

  .home section {
    display: grid;
    grid-template-columns: max-content;
  }

  .home section img {
    align-items: center;
  }
}
/******************ABOUT ME CONTAINER*******************/
.aboutMe {
  padding: 2rem 0 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

.aboutMe h2 {
  margin-bottom: 10px;
}

.about-Container {
  text-align: center;
}

@media screen and (min-width: 968px) {
  .aboutMe {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/***************SKILLS SECTION*****************/
.skills-Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.skills-Container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.skills-Container {
  row-gap: 0;
}

.skills-Container span {
  margin-bottom: 15px;
}
.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

/*.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: #e7c8dd;
}*/

.skills-arrow {
  font-size: 2rem;
  color: #86626e;
}

.skills-icon {
  margin-right: 20px;
}

.skills-title {
  font-size: 20px;
}

.skills-subtitle {
  font-size: 20px;
  color: black;
}

.skills-arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skill-list {
  margin-left: -30px;
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skill-list i {
  width: 80px;
  height: 80px;
}

.fas {
  color: gray;
}

.skills-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.skills-name {
  font-size: 15px;
  font-weight: 20px; /*"Poppins", sans-serif*/
}

.skills-bar,
.skills-percetage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills-bar {
  background-color: thistle;
}

.skills-percetage {
  display: block;
  background-color: hsl(340, 16%, 45%);
}

.skills-html {
  width: 45%;
}
.skills-css {
  width: 45%;
}
.skills-javascript {
  width: 30%;
}
.skills-react {
  width: 20%;
}
/*
.skills-close .skill-list {
  height: 0;
  overflow: hidden;
}

.skills-open .skill-list {
  height: max-content;
  margin-bottom: 50px; /* var(--mb-2-5
}

.skills-close .skills-arrow {
  transform: rotate(180deg);
}
*/

@media screen and (min-width: 968px) {
  .skill-list {
    width: 25rem;
    display: grid;
  }
  .skills-Container:hover {
    box-shadow: none;
  }
}
/*************************SERVICES SECTION****/
.services {
  background-color: thistle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.services-Container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30vw;
}

.services-content {
  background-color: #fff;
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  margin-left: 70px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 25vw;
}

.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services-icon {
  font-size: 1.5rem;
  color: #86626e;
  margin-bottom: 1rem;
}

.section-title {
  font-weight: 500;
  /* margin-bottom: 1rem; */
}
.section-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.services-web {
  gap: 15px;
}

@media screen and (min-width: 968px) {
  .services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-content {
    /* margin-left: 30%; */
    margin-top: -20px;
  }

  .services-content:hover {
    box-shadow: none;
  }
}
/*************************CONTACT ME SECTION****/
.contact {
  padding: 5rem 0 4rem;
}
.contact-Container {
  min-height: 100vh;
  margin-left: 0%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  display: flex;
  margin-bottom: 2rem;
}

.contact-icon {
  font-size: 2rem;
  color: rgb(24, 22, 22);
  margin-right: 0.75rem;
}

.contact-btn i {
  font-size: 1.5rem;
}

.contact-title {
  font-size: 1.125rem;
}

.contact-subtitle {
  font-size: 0.813rem;
  color: rgb(92, 91, 91);
}

.contact-content {
  background-color: thistle;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact-input {
  width: 100%;
  background-color: thistle;
  color: rgb(24, 22, 22);
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
.contact-label {
  font-size: 0.75rem;
  color: black;
}

.contact-btn {
  background-color: thistle;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  border-radius: 10px;
  margin-left: 290px;
  border: none;
  outline: none;
}

.contact-btn:hover {
  background-color: #86626e;
  transition: 0.4s;
}

@media screen and (min-width: 968px) {
  .contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-title,
  .section-subtitle {
    text-align: center !important;
  }
}
/*****************FOOTER********************/
.footer {
  padding-top: 1.5rem;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.footer-big {
  background-color: thistle;
}
.footer-Container {
  gap: 15px;
  text-align: center;
}

.footer-title {
  font-size: 0.75rem;
  color: black;
  margin-top: 0.25rem;
}

.footer-social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer-social a {
  color: rgb(46, 45, 45);
  margin-right: 15px;
}

.footer-social a:hover {
  color: rgb(78, 61, 78);
}

.footer-icon a:focus {
  color: rgb(126, 58, 126);
}

.footer-copy {
  font-size: 0.75rem;
  text-align: center;
  color: rgb(24, 22, 22);
  margin-top: 0.25rem;
}

.footer-copy p {
  text-align: center !important;
}

@media screen and (min-width: 968px) {
  .footer-big {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}
/***********SCROLL UP********/
.scrollUp {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  background-color: thistle;
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  transition: 0.4s;
}

.scrollUp a:hover {
  background-color: #e7c8dd;
}

.scrollUp:focus {
  background-color: #86626e;
}

.scrollup-icon {
  color: black;
  font-size: 1.25rem;
}
/*******************SCROLL ACTION*********************
.show-scroll {
  bottom: 5rem;
}**/
