body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  overflow-y: auto;
}

/***********THANK YOU PAGE*************/
.thanksContainer {
  background-color: thistle;
  min-height: 50vh;
  max-height: 50vw;
  font-weight: 500;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanksContainer button {
  border-radius: 50px;
  background-position-x: right;
  background-color: #88696e;
  margin-top: 20px;
  opacity: 0.8;
  border: none;
}
.thanksContainer button:hover {
  transform: translateY(0.25rem);
}
.popuptext {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
